<!DOCTYPE html>
<html>
	<head>
		<title>Blog Lantr</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="../../bootstrap/js/jquery.js"></script>
		<link href="../../marck/marck.css" rel="stylesheet" type="text/css">
		<link href="../../style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div style="background: blue;">
				awegawerg
			</div>
			<div class="row">
				<div class="span8" style="background: green;">
					<div id="main_col">
						{% block main %}
							Главный блок
						{% endblock %}
					</div>
				</div>
				<div class="span4" id="right_col" style="background: red;">
					<div class="inside_right_col">
						<h3>Популярные теги</h3>
						<ul class="inline">
							<li>perl</li>
							<li>python</li>
							<li>TechnoPark</li>
							<li>MySql</li>
							<li>django</li>
							<li>Mail.Ru</li>
							<li>Voloshin</li>
							<li>Firefox</li>
						</ul>
					</div>
					<div class="inside_right_col">
						<h3>Лучшие авторы</h3>
						<ul class="best_authors">
							<li><a href="#">Mr. Freeman</a></li>
							<li><a href="#">Dr. House</a></li>
							<li><a href="#">Bender</a></li>
							<li><a href="#">Queen Victoria</a></li>
							<li><a href="#">V. Pupkin</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
